.clock-result-wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
    justify-content: flex-start;
    max-width: 600px;
}
.clock-wrap {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    flex-direction: row;
    flex-wrap: wrap;
    width: 150px;
    max-width: 33%;
    margin-right: 2%;
    margin-bottom: 20px;
}
.rm-btn::before {
    position: absolute;
    top: 5px;
    right: 5px;
    content: '\2716';
    cursor: pointer;
}
.clock-body {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
    border: 1px solid;
    max-width: 160px;
    min-height: 40px;
    position: relative;
}
.hours-wrap, .minutes-wrap, .seconds-wrap {
    min-width: 100px;
    display: flex;
    flex-direction: column;
    width: 25%;
    margin-right: 2%;
}

.hours::after, .minutes::after {
    content: ':';
    padding: 5px;
}
.clock-title-wrap {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-height: 30px;
    margin-bottom: 20px;
    justify-content: center;

}